<h1>Carrito</h1>

<ul>
    {{#each products}}
        <li>
            <strong>{{this.product.title}}</strong>  
            - ${{this.product.price}}  
            - Cantidad: {{this.quantity}}
        </li>
    {{/each}}
</ul>


<a href="/products">⬅️ Volver a productos</a>
